h1 {
  color: midnightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  
   }
p {
  color: rgb(13, 0, 128);
  font-family: Calibri, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  }